
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Confirm order
}

<div style="margin-top: 100px; text-align: center">
    Thanks! Your order has been admitted
</div>